.root {
     -fx-background-image: url('/org/payfine/com/img/system_image/emptyForm.png');
}

.label {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#text_field {
      -fx-font-size: 19px;
      -fx-font-family: "Arial Black";
      -fx-fill: #818181;
      -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#combo_box{
      -fx-font-size: 16px;
      -fx-font-family: "Arial Black";
      -fx-fill: #818181;
      -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#fines {
      -fx-font-size: 28px;
      -fx-font-family: "Arial Black";
      -fx-fill: #818181;
      -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#welcome-text {
   -fx-font-size: 35px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
     -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#for_amount {
-fx-font-size: 20px;
-fx-text-fill: #61a2b1;
-fx-font-family: "Arial Black";
}

.button:hover {
 -fx-background-color: linear-gradient(#2A5058, #61a2b1);
 }